:root {
	--charcoal-grey: #373a3c;
	--pinkish-grey: #e7cecd;
	--light-grey-green: #d5e6c7;
	--military-green: #4b713d;
	--pale-red: #d9534f;
	--gunmetal: #55595c;
	--dark-sky-blue: #5bc0de;
	--warm-grey: #707070;
	--brick: #cb2e25;
	--brick: #cb2e25;
	--slate-gray: #818a91;
	--water-blue: #1c7cd5;
	--silver: #eceeef;
}

/* Fonts */
@font-face {
	font-family: "Helvetica Neue";
	src: url("@/assets/fonts/Neue-Helvetica.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Helvetica Neue";
	font-feature-settings: "tnum" !important; /* Tabular numbers */
	font-variant-numeric: tabular-nums !important; /* Ensure numbers are uniform width */
	unicode-bidi: plaintext !important; /* Override contextual number shaping */
}
.pt-input {
	border-radius: 4px !important;
	height: 40px;
	border: solid 1px #ddd;
}
.pt-input input {
	border-radius: 0 !important;
}

.pt-button {
	height: 40px;
	border-radius: 4px;
}
body .pt-toast {
	align-items: baseline;
}
